* {
    margin: 0%;
    padding: 0%;
}

/* Main 1st Section Container Part */
.header-container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
}


.header-img {
    width: 635px;
    height: 850px;
    flex-shrink: 0;
}

.banner-heading {
    font-size: 80px;
    font-weight: 800;
}

.primary {
    color: rgb(230, 15, 147);
}

.banner-description {
    font-size: 28px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    background-color: rgb(129, 40, 107);
    color: rgb(252, 253, 252);
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}

.title {
    text-align: center;
    margin-top: 178px;
    font-size: 45px;
}

/* Featured section part */

.featured-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 24px;
    margin: 220px 220px 0px 220px;
}

.feat-bg {
    background-color: #ccb3cbd5;
    width: 350px;
    border-radius: 300px 300px 0px 0px;
}
.bg-img1{
    margin-bottom: -6px;
}
.bg-img2{
    margin-bottom: -28.5pc;
}
.bg-img3{
    margin-bottom: -29pc;
}

.featured-description,
.insta-description {
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 2px;
    text-align: center;
}
.fig-caption{
    display: flex;
    justify-content: space-around;
    gap: 2px;
    color: #fc1f4f;
}
.fig{
    font-size: 26px;
    margin: 22px;
    text-decoration: underline;
}


/* service section related styles */

.service {
    padding: 130px;
    border-radius: 10px;
    background: hsl(25, 72%, 89%);
    margin: 130px 180px;
}

.service-container {
    display: flex;
    justify-content: space-around;
}

.service-box {
    text-align: center;
}

.deal {
    background-color: rgba(163, 226, 204, 0.5);
}

.hot-deal {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.deal-head {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.deal-description {
    color: rgba(110, 55, 106, 0.815);
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 18px;
}

.btn-deal {
    display: inline-flex;
    padding: 20px 33px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    font-size: 32px;
    color: azure;
    cursor: pointer;
}

/* Instagram image style */

.insta-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    margin: 48px 240px 128px;
}

.inimg {
    width: 292px;
    height: 346px;
    border-radius: 5px;
    box-shadow: 6px 5px rgb(179, 177, 177);
}

/* feedback from customers section */

.customer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(135, 170, 172);
    align-items: center;
    gap: 20px;
    margin: 130px;
}
.feedback{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;

}
.f-desc{
    font-size: 28px;
}
/*Get deal style  */

.get-deal {
    height: 400px;
    text-align: center;
    border: 5px double rgb(173, 173, 173);
    margin: 200px;
    background-image: url(images/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.get-content {
    margin-top: 96px;
}

.get-heading {
    font-size: 44px;
    font-weight: 800;
    color: rgb(67, 201, 96);
}

.get-description {
    margin: 19px;
    font-size: 22px;
}

.get-email {
    width: 450px;
    height: 44px;
    border-radius: 6px;
    background: #FFF;
}

.btn-sub {
    width: 150px;
    height: 46px;
    border-radius: 6px;
    background: #E55473;
    font-size: 22px;
}


/* Footer area */
.footer-container {
    background-color: rgb(45, 87, 88);
    text-align: center;
    padding: 140px 0px 5px 0px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 80px;
}